body{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: kannada;
  src: url(./assets/Nudi.ttf);
}

$lbc: rgb(237, 230, 230);

.registration {
    display: inline-block;
    font-size: 14px;
  
  .registration-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: $lbc;
  }
  
  .registration-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
}

.registration:hover .registration-content {
  display: block;
}

.registration-content a:hover {
  color: #FFFFFF;
}

  .main_navbar{
    display: flex;
    justify-content: end;
    background-color: rgb(177, 214, 156);

    

    li{
      list-style: none;
      margin-left: 8px;
      margin-right: 10px;

      .kannada{
        font-family: kannada;
      }
    }

    a{
      text-decoration: none;
      font-size: 14px;
      color: #000000;
    }

    a:hover{
      color: #FFFFFF;
    }
  }

  .college_logo{
    align-items: center;
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }

 nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  ul{
    padding: 0;
    list-style: none;
    background: #fbfafa;
    justify-content: space-around;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    min-width: 150px; 
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	
}
ul li ul.dropdown li{
    display: block;
}
 } 
.markcontainer{
  margin-top: 50px;
  .markq{
    color: rgb(14, 14, 14);
    font-weight: bold;
    font-size: 20px;
  }
}

  .count_container{
    display: flex;
    justify-content: space-around;
    margin-top: 175px;

    .count{
      font-size: 59px;
      font-family:sans-serif;
      line-height: 1;
      margin-bottom: 25px;
    }

    .caption{
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  .profile{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 40px;

    img{
      width: 364px;
      height: 280px;
    }


    .profile_content{
      color: black;
    }
  }

 
  .welcome{
    // background-image: url();
    opacity: 1;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    h1{
      text-align: center;
      margin-top: -200px;
      background: transparent;
      color: rgb(248, 247, 247);
    }

    p{
      margin-top: 28px;
      background: transparent;
      color: rgb(248, 247, 247);
    }
    img{
      height: 400px;
      width: 100%;
      opacity: 1;
    }
  }

  .cards{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }


  .slider{
    width: 100%;
    height: 350px;
    display: flex;
    .events{
      margin-top: 24px;
      height: 280px;
      width: 306px;
    }
    .mission{
      margin-top: 20px;
      width: 360px;
      height: 140px;
    }
    .vision{
      margin-top: 20px;
      width: 360px;
      height: 140px;
    }

    .imgslider{
      margin-top: 20px;
      width: 782px;
      height: 277px;
    }
  }

  footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #000000;
    color: #FFFFFF; 

    ul{
      list-style: none;
      h4{
        border-bottom: 5px solid rgb(74, 156, 74);
      }
      li{
        text-align: left;
      }
    }
  }