body{
    margin: 0;
    padding: 0;
}

$lbc: rgb(237, 230, 230);

.registration {
    display: inline-block;
    font-size: 14px;
  
  .registration-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: $lbc;
  }
  
  .registration-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
}

.registration:hover .registration-content {
  display: block;
}

.registration-content a:hover {
  color: #FFFFFF;
}

  .main_navbar{
    display: flex;
    justify-content: end;
    background-color: rgb(177, 214, 156);

    li{
      list-style: none;
      margin-left: 8px;
      margin-right: 10px;
    }

    a{
      text-decoration: none;
      font-size: 14px;
      color: #000000;
    }

    a:hover{
      color: #FFFFFF;
    }
  }

  .college_logo{
    align-items: center;
    img{
      width: 100%;
      height: auto;
      padding-left: 200px;
      padding-right: 220px;
    }
  }

  .college_nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: sticky;
    li:hover{
    color: rgb(129, 205, 156);
    }

    li{
      margin-right: 20px;
      margin-left: 20px;
      list-style: none;
      color: rgb(74, 38, 159);
    }
  }

  .college_menu {
    display: inline-block;
    font-size: 14px;
    position: sticky !important;

    label{
      padding-bottom: 10px;
    }
  
    label:hover{
      border-bottom: 5px solid green;
    }
  .college_menu-content {
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    background-color: $lbc;
    z-index: 9;
  }
  
  .college_menu-content a:hover{
    background-color: green;
    color: #FFFFFF;
    z-index: 9;
  }

  .college_menu-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
}

.college_menu:hover .college_menu-content {
  display: block;
}

.college_menu-content a:hover {
  color: #FFFFFF;
}

.markq{
    background-color: rgb(204, 255, 255);
    color: gray;
    font-weight: bold;
    font-size: 20px;
    z-index: -2;
  }

  .count_container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    .count{
      font-size: 59px;
      font-family:sans-serif;
      line-height: 1;
      margin-bottom: 25px;
    }

    .caption{
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  .events{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);

    .event_box{
      display: flex;
      justify-content: space-around;
      margin: 10px;
      width: 750px;
      border: 1px solid black;
      margin-bottom: 0;
      background-color: rgb(162, 162, 162);
      color: #000000;

      div{
        height: 50px;
        width: 150px;
        button{
          margin-top: 10px;
          background-color: transparent;
          border: none;
        }
      }
    }

    .event_markq{
      height: 200px;
      width: 650px;
      border: 1px solid black;
      background-color: #FFFFFF;
      padding: 0;

      marquee{
        background-color: transparent;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: #000000;
          }
          a:hover{
            color: forestgreen;
          }
        }
      }
    }

    .content{
      border: 1px solid black;
      height: 200px;
      width: 750px;
      margin-left: 10px;
      margin-top: 0;

    }
  }

  .profile{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    .profile_content{
      color: black;
    }
  }

  .vision{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .welcome{
    // background-image: url();
    opacity: 1;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    h1{
      text-align: center;
      margin-top: -200px;
      background: transparent;
      color: rgb(248, 247, 247);
    }
    img{
      height: 400px;
      width: 100%;
      opacity: 1;
    }
  }

  .cards{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  // nav{
  //   position: sticky;
  //   ul{
  //     display: flex;
  //     position: sticky;
  //   }
  // }


  footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #000000;
    color: #FFFFFF; 

    ul{
      list-style: none;
      h4{
        border-bottom: 5px solid rgb(74, 156, 74);
      }
      li{
        text-align: left;
      }
    }
  }